name: deploy-lambda
on:
  push:
    branches: [ "main" ]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - uses: aws-actions/amazon-ecr-login@v2
      - name: Build image
        run: |
          IMAGE_TAG=${GITHUB_SHA}
          ECR=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.ECR_REPOSITORY }}
          docker build -t $ECR:$IMAGE_TAG .
          echo "IMAGE=$ECR:$IMAGE_TAG" >> $GITHUB_ENV
      - name: Push image
        run: |
          docker push $IMAGE
      - name: Update lambda
        run: |
          aws lambda update-function-code --function-name "${{ secrets.LAMBDA_FUNCTION_NAME }}" --image-uri "$IMAGE" --publish
      - name: Update env
        run: |
          aws lambda update-function-configuration --function-name "${{ secrets.LAMBDA_FUNCTION_NAME }}" --environment "Variables={EXTERNAL_API_URL=${{ secrets.EXTERNAL_API_URL }},EXTERNAL_API_KEY=${{ secrets.EXTERNAL_API_KEY }}}"
